<!DOCTYPE html>
<html>
<head>
    <title>Board: {{ board.name }}</title>
    <link href="/media/css/boardpage.css" rel="stylesheet"></head>
<body>

<h1><a href="/">{{ user }}</a>'s home</h1>
<h2>{{ board.name }}</h2>
{% if isOwner %}
<a href="/deleteboard/?bid={{ board.id }}">
<input  type="button" value="Delete Board">
</a>
{% endif %}
{% for item in pictures %}
    <div class="polaroid">
    <a href="/pin/?id={{ item.pin }}">
        <img class="pictuure polaroid-img" src="/imgs/{{ item.picture.image.url }}">
    </a>
    <p class="polaroid-p">by {{ board.owner }}</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endfor %}
{% if isOwner %}
<input id="new-pin" value="New Pin" type="button">
</body>
<script>
    var newPinBtn = document.getElementById('new-pin');
    newPinBtn.onclick=function(){
        window.location.href='/newpin/?b={{ board.id }}';
    };
</script>
{% else %}
    {% if followed %}
    <a href="/unfollowboard/?bid={{ board.id }}">
    <input  type="button" value="unFollow">
    </a>
    {% else %}
    <a href="/followboard/?bid={{ board.id }}">
    <input  type="button" value="Follow">
    </a>
    {% endif %}
{% endif %}
</html>