<!DOCTYPE html>
<html>
<head>
    <title>Board: {{ board.name }}</title>
    <link href="/media/css/boardpage.css" rel="stylesheet"></head>
<body>

<h1><a href="/">{{ user }}</a>'s boards</h1>
<h2>{{ board.name }}</h2>
{% for item in pictures %}
    <div class="polaroid">
    <a href="/pin/?id={{ item.pin }}">
        <img class="pictuure polaroid-img" src="/imgs/{{ item.picture.image.url }}">
    </a>
    <p class="polaroid-p">by {{ item.picture.first_piner }}</p>
    <div>
{% endfor %}
<input id="new-pin" value="New Pin" type="button">
</body>
<script>
    var newPinBtn = document.getElementById('new-pin');
    newPinBtn.onclick=function(){
        window.location.href='/newpin/?b={{ board.id }}';
    };
</script>
</html>