<!DOCTYPE html>
<html>
<head>
    <title>create stream</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
</head>
<body>
    <div class="container" style="margin-bottom: 200px; margin-top: 50px">
<form method="post" action="">
    <table><tr><td>
    <input class="form-control" style="width: 300px" type="text" name="streamname" placeholder="Please input stream name">
        </td><td>
    <input class="btn btn-success" type="submit" value="Create follow stream">
        </td>
        </tr>
    </table>
</form>
            <br><br>
    <a href="/">
    <input class="btn btn-primary" type="button" value="Go home">
</a>
        </div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>