<!DOCTYPE html>
<html>
<head>
    <title>create board</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
</head>
<body>
<form method="post" action="">
    <input type="text" name="boardname" placeholder="Please input board name">
    <input type="submit" value="Create board">
    <select name="access">
        <option value="2">public</option>
        <option value="1">friends</option>
        <option value="0">private</option>
    </select>
</form>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>