<!DOCTYPE html>
<html>
<head>
    <title>pin page</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
    <link href="/media/css/boardpage.css" rel="stylesheet"></head>
</head>
<body>
<div class="container" style="margin-bottom: 200px;margin-top: 50px">
<a href="/boardpage/?b={{ board.id }}">
<h2>{{ board.name }}</h2>
</a>
<a href="/repin/?pin={{ pin.id }}"><input class="btn btn-success" type="button" value="Repin it"></a>
{% if isOwner %}
<a href="/deletepin/?pin={{ pin.id }}&board={{ board.id }}"><input class="btn btn-danger" type="button" value="Delete this pin"></a>
{% endif %}
<br>
<br>
<div class="polaroid">
       {% if picture.web_url|length > 2  %}
            <a href="{{ picture.web_url }}">
       {% else %}
           <a href="/imgs/{{ picture.image.url }}">
       {% endif %}
       <img class="pictuure polaroid-img" src="/imgs/{{ picture.image.url }}">
            </a>
    <p class="polaroid-p">by <a href="/user/?uid={{ board.owner.id }}">{{ board.owner }}</a></p>
</div>
<br>
<br>
<div style="font-family: cursive">{{ likes }} likes</div>
{% if liked %}
    <a href="/unlike/?pid={{ picture.id }}&pin={{ pin.id }}">
    <i class="btn btn-default glyphicon glyphicon-hand-down"> </i>
    </a>
{% else %}
    <a href="/like/?pid={{ picture.id }}&pin={{ pin.id }}">
    <i class="btn btn-default glyphicon glyphicon-hand-up"> </i>
    </a>
{% endif %}
<br>
<br>
<p>
{% for tag in tags %}
    <span class="btn btn-info">{{ tag.name }}</span>
{% endfor %}
</p>
{% if isOwner %}
    <form method="post" action="">
        <input type="hidden" name="picture"  value="{{ picture.id }}">
        <input type="hidden" name="pin"  value="{{ pin.id }}">
        <table>
        <tr>
            <td>
            <input class="form-control" style="width: 100px" type="text" name="tag" placeholder="new tag">
            </td>
            <td>
            <input class="btn btn-success" type="submit" value="Submit">
            </td>
        </tr>
        </table>
    </form>
<br>
{% endif %}
<div style="box-sizing: border-box;
border-radius: 5px;
border: dashed 1px;
background-color: gainsboro;
width: 400px;">
<h3>Description</h3>
    <div>{{ pin.description }}</div>
</div>
{% block content %}
    <h2>Comments:</h2>
    <table class="table table-striped" style="width: 700px">
        {% for comment in comments %}
            <tr><td>
                  <a href="/user/?uid={{ comment.user.id }}">{{ comment.user }}</a> commented: <div class="pull-right">{{ comment.comment_time }}</div><br>
                 {{ comment.payload }}
            <td></tr>
        {% endfor %}
    </table>
{% endblock %}
    <form method="post" action="">
        <input type="hidden" name="pid" value="{{ pin.id }}">
        <input type="hidden" name="bid" value="{{ board.id }}">
        <textarea class="form-control" style="width: 500px;float:left" type="text" name="payload" placeholder="Please comment here" rows="3"></textarea>

        <span><input class="btn btn-info" type="submit" value="Submit" style="margin-left: 20px"></span>
    </form>
<br>
            <br><br>
    <a href="/boardpage/?b={{ board.id }}">
    <input class="btn btn-primary" type="button" value="Back to {{ board.name }}">
</a>
            <br><br>
    <a href="/">
    <input class="btn btn-primary" type="button" value="Go home">
</a>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</div>
</body>
</html>