<!DOCTYPE html>
<html>
<head>
    <title>recommends</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
    <link href="/media/css/boardpage.css" rel="stylesheet"></head>
</head>
<body>
<div class="container" style="margin-bottom: 200px;margin-top: 50px">
</a>

    <br><br>
    <a href="/search">
    <input class="btn btn-primary" type="button" value="Back to search">
</a>
</a>

    <br><br>
    <a href="/">
    <input class="btn btn-primary" type="button" value="Go home">
</a>
<h2>These are most popular pictures, enjoy:</h2>
{% for item in recommends %}
    <tr><td>
    <div class="polaroid">
    <a href="/pin/?id={{ item.id }}">
        <img class="pictuure polaroid-img" src="/imgs/{{ item.picture.image.url }}">
    </a>
    <p class="polaroid-p">by {{ item.to_board.owner }}</p>
    </div>
    <br>
    <br>

    </td></tr>
{% endfor %}
</a>

    <br><br>
    <a href="/search">
    <input class="btn btn-primary" type="button" value="Back to search">
</a>
</a>

    <br><br>
    <a href="/">
    <input class="btn btn-primary" type="button" value="Go home">
</a>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>