<!DOCTYPE html>
<html>
<head>
    <title>search by tag</title>
</head>
<body>
<form method="post" action="">
        <input type="search" name="tag" placeholder="search for tags">
        <select name="by">
            <option value="time">Picture creation time</option>
            <option value="likes">Picture liked times</option>
        </select>
        <input type="submit" value="search">
</form>

<form method="post" action="">
        <input type="search" name="user" placeholder="search for user">
        <input type="submit" value="search">
</form>

<form method="post" action="">
        <input type="search" name="stream" placeholder="search for stream">
        <input type="submit" value="search">
</form>
</body>
</html>