<!DOCTYPE html>
<html>
<head>
    <title>{{ user }}'s home page</title>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
</head>
<body>
    <h2>Welcome <a href="/user/?uid={{ user.id }}">{{ user }}!</a></h2>
    <a href="/signout"><input type="button" value="sign me out"></a>
    {% if ownBoards|length == 0 %}
    <h3>You don't have any boards, create one by button bellow.</h3>
    {% else %}
    <h3>Your Boards:</h3>
    {% for board in ownBoards %}
        <a href="/boardpage/?b={{ board.id }}">{{ board.name }}</a>
    {% endfor %}
    {% endif %}
    <br>
    {% if Streams|length == 0 %}
    <h3>You don't have any follow streams, create one by button bellow.</h3>
    {% else %}
    <h3>Your Follow Streams:</h3>
    {% for stream in Streams %}
        <a href="/streampage/?sid={{ stream.id }}">{{ stream.name }}</a>
    {% endfor %}
    {% endif %}
    <br>
    {% if friends|length == 0 %}
    <h3>You don't have any friends, explore myPinterest from search button below.</h3>
    {% else %}
    <h3>Your friends:</h3>
    {% for friend in friends %}
        <a href="/user/?uid={{ friend.id }}">{{ friend }}</a>
    {% endfor %}
    <br>
    {% endif %}
    <a href="/createboard">
    <input type="button" value="Create new Board">
    </a>
    <a href="/createstream">
    <input type="button" value="Create new Stream">
    </a>
    <a href="/search">
    <input type="button" id="search" value="Search myPinterest">
    </a>
</body>
</html>