<!DOCTYPE html>
<html>
<head>
    <title>{{ user }}'s home page</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
    <link href="/media/css/style.css" rel="stylesheet"></head>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
</head>
<body>
    <div class="container" style="margin-bottom: 200px; margin-top: 50px">
    <h2>Welcome, <a href="/user/?uid={{ user.id }}">{{ user }}!</a></h2>
    <a href="/signout"><input class="btn btn-warning pull-right" style="margin-right: 20px" type="button" value="sign me out"></a>
    <a href="/user/?uid={{ user.id }}"><input class="btn btn-primary pull-right" style="margin-right: 20px" type="button" value="Settings"></a>
    {% if boards|length == 0 %}
    <h3>You don't have any boards, create one by button bellow.</h3>
    {% else %}
    <table class="table table-bordered table-striped" style="width: 180px">
    <thead>
        <h3>Your Boards:</h3>
    </thead>
    <tbody>
    {% for item in boards %}
        <tr><td>
            <table>
                <thead >
                <div class="h3">{{ item.board.name }}</div>
                </thead>
                <tr><td>
                <a href="/boardpage/?b={{ item.board.id }}">
                    <img src="/imgs/{{ item.img.image.url }}"  class="img-thumbnail" style="width: 150px;height: 150px">
                </a>
                </td></tr>
            </table>
        </td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <a href="/createboard">
    <input class="btn btn-success" type="button" value="Create new Board">
    </a>
    <br>
    {% if Streams|length == 0 %}
    <h3>You don't have any follow streams, create one by button bellow.</h3>
    {% else %}
    <table class="table table-bordered table-striped" style="width: 300px">
    <thead>
        <h3>Your Follow Streams:</h3>
    </thead>
    <tbody>
    {% for stream in Streams %}
        <tr><td><a href="/streampage/?sid={{ stream.id }}">{{ stream.name }}</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <br>
    <a href="/createstream">
    <input class="btn btn-success" type="button" value="Create new Stream">
    </a>
    {% if friends|length == 0 %}
    <h3>You don't have any friends, explore myPinterest from search button below.</h3>
    {% else %}
    <table class="table table-striped table-bordered" style="width: 300px">
    <thead>
    <h3>Your friends:</h3>
    </thead>
    <tbody>
    {% for friend in friends %}
        <tr><td><a href="/user/?uid={{ friend.id }}">{{ friend }}</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}
    <a href="/search">
    <input class="btn btn-info" type="button" id="search" value="Search myPinterest">
    </a>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>