<!DOCTYPE html>
<html>
<head>
    <title>{{ user }}'s profile</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
</head>
<body>
<div class="container" style="margin-bottom: 200px; margin-top: 50px">
<h1>{{ user }}</h1>
{% if not isSelf %}
    {% if not isFriend %}
    <a href="/sendfriendrequest/?to_uid={{ user.id }}">
    <input class="btn btn-success" type="button" value="Request Friend">
    </a>
    {% else %}
        <div class="btn btn-info"><i class="glyphicon glyphicon-ok"> </i>Friend</div>
    {% endif %}
{% else %}
    <a href="/friendrequests/?uid={{ user.id }}">
    <input class="btn btn-primary" type="button" value="View friend invitations">
    </a>
{% endif %}

    {% if boards|length == 0 %}
    <h3>{{ user }} don't have any boards.</h3>
    {% else %}
    <table class="table table-bordered table-striped" style="width: 180px">
    <thead>
        <h3>{{ user }}'s Boards:</h3>
    </thead>
    <tbody>
    {% for item in boards %}
        <tr><td>
            <table>
                <thead >
                <div class="h3">{{ item.board.name }}</div>
                </thead>
                <tr><td>
                <a href="/boardpage/?b={{ item.board.id }}">
                    <img src="/imgs/{{ item.img.image.url }}"  class="img-thumbnail" style="width: 150px;height: 150px">
                </a>
                </td></tr>
            </table>
        </td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% if streams|length == 0 %}
    <h3>{{ user }} don't have any follow streams.</h3>
    {% else %}
    <table class="table table-bordered table-striped" style="width: 300px">
    <thead>
        <h3>{{ user }}'s Follow Streams:</h3>
    </thead>
    <tbody>
    {% for stream in streams %}
        <tr><td><a href="/streampage/?sid={{ stream.id }}">{{ stream.name }}</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% if friends|length == 0 %}
    <h3>You don't have any friends, explore myPinterest from search button below.</h3>
    {% else %}
    <table class="table table-striped table-bordered" style="width: 300px">
    <thead>
    <h3>{{ user }}'s friends:</h3>
    </thead>
    <tbody>
    {% for friend in friends %}
        <tr><td><a href="/user/?uid={{ friend.id }}">{{ friend }}</a></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}
<h3>Email:</h3>
<span>{{ user.email }}</span>
<h3>Create:</h3>
<span>{{ user.createTime }}</span>
<h3>Last login:</h3>
<span>{{ user.lastLoginTime }}</span><br><br>
<a href="/">
    <input class="btn btn-primary" type="button" value="Go home">
</a>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>