<!DOCTYPE html>
<html>
<head>
    <title>{{ user }}'s home page</title>
{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
</head>
<body>
    <h2>Welcome {{ user }}!</h2>
    <div>Your Boards:</div>
    {% for board in ownBoards %}
        <a href="/boardpage/?b={{ board.id }}">{{ board.name }}</a>
    {% endfor %}
    <br>
    <div>Your Follow Streams</div>
{#    {% for stream in Streams %}#}
{#        <div id={{ stream.name }}>{{ stream.name }}</div>#}
{#    {% endfor %}#}
    <br>
    <input type="button" value="Create new Board" onclick="createBoardForm()">
    <input type="button" value="Create new Stream">
</body>
<script>
    function createBoardForm(){
        var f = document.createElement("form");//create form
        f.setAttribute('method',"post");
        f.setAttribute('action',"/createboard")
        f.setAttribute('id',"board-create-form");

        var i = document.createElement("input"); //input element, text
        i.setAttribute('type',"text");
        i.setAttribute('name',"boardname");
        i.setAttribute('placeholder',"Please input board name")

        var s = document.createElement("input"); //input element, Submit button
        s.setAttribute('type',"submit");
        s.setAttribute('value',"Create Board");

        var a = document.createElement("select"); //select element attached to form, but not in form
        a.setAttribute('name',"access");
        a.setAttribute('form',"board-create-form");
        var op1 = document.createElement("option");
        op1.setAttribute('value',"2");
        op1.innerHTML="public";
        var op2 = document.createElement("option");
        op2.setAttribute('value',"1");
        op2.innerHTML="friends only";
        var op3 = document.createElement("option");
        op3.setAttribute('value',"0");
        op3.innerHTML="private";
        a.appendChild(op1);
        a.appendChild(op2);
        a.appendChild(op3);

        f.appendChild(i);
        f.appendChild(s);

        document.getElementsByTagName('body')[0].appendChild(f);
        document.getElementsByTagName('body')[0].appendChild(a);

    }

{#    function cancelCreateBoardForm(){#}
{#        var form = document.getElementById('board-create-form');#}
{#        form.parentnode.reomoveChild(form);#}
{#    }#}
</script>
</html>