<!DOCTYPE html>
<html>
<head>
    <title>{{ user }}'s friend requests</title>
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet"></head>
</head>
<body>
    <div class="container" style="margin-bottom: 200px; margin-top: 50px">
{% if requests|length == 0 %}
    <h2>All requests have been processed</h2>
{% else %}
<h2>Here is your pendding friend requests:</h2>
{% for req in requests %}
    <div><a href="/user/?uid={{ req.from_user.id }}">{{ req.from_user }}</a> would like to add you as a friend.</div>
    <a href="/acceptrequest/?from_user={{ req.from_user.id }}">
    <input type="button" value="Accept"></a>
    <a href="/rejectrequest/?from_user={{ req.from_user.id }}">
    <input type="button" value="Reject"></a>
{% endfor %}
{% endif %}
<a href="/user/?uid={{ user.id }}"><input class="btn btn-primary" type="button" value="return"></a>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>
</body>
</html>